*{margin: 0;padding:0;outline: none;}

body{
	background: #f7f7f7;
	color: #e4f0e4;
	font-family: "Arial", sans-serif;
}

section#home{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#creditos1{
	background: #072608;
	position: absolute;
	top: -77px;
	left: 20px;
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	animation: rotate 29s linear infinite;
}
#creditos2{
	background: #072608;
	position: absolute;
	top: -77px;
	right: 20px;
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	animation: rotate 29s linear infinite;
}
.btn1{
	padding: 14px 20px;
	background: inherit;
	color: white;
	font-size: 20px;
	border-radius: 100px;
}
.card{
	border: 1px solid black;
	background: #072608;
	padding: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 20px black;
}

@keyframes rotate {
	0% {
		color: #f7f7f7;
	}

	50% {
		color: #e4f0e4;
		transform: translateY(100vh)
	}

	100% {
		color: #f7f7f7;
	}
}